#KDE temp-files
*~
.directory

#Tex

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.backup

#Include some images as pdfs
!/img/logo/*.pdf
!/vektorzeichnen/*.pdf
