/*****************************
 * FAU FabLab Theme adjusments
 * ---------------------------
 * Author: Sebastian Endres
 *****************************/

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #163b64;
  background-color: #163b64;
}

.reveal {
  color: #ffffff;
}

.reveal h1{
  font-size: 3.5em;
}

/********************************************
 * REVEAL ELEMENTS
 ********************************************/
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.10);
}

/********************************************
 * CUSTOM ELEMENTS
 ********************************************/
.reveal section img.title_img {
  background-color: #ffffff;
}

.reveal section div.dark_background {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
}

.reveal section img.one_img {
  max-width: 75%;
}

.reveal section img.two_hor_img {
  max-width: 45%;
}

.reveal section .fixed_top {
  display: block;
  margin-top: -30px;
  text-shadow:  0px 0px 5px #000000;
}

.reveal section a.main_link {
  margin: 0 0 20px 0;
  color: #C8E632;
  font-family: 'League Gothic', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: underline;
  word-wrap: break-word;
  font-size: 3.40em;
}
.reveal section a.main_link:hover {
  color: #eee8d5;
}

div.image_overlay {
  margin: 0 auto;
    position: relative;
    border: none;
    width: 13em;
    height: 13em;
}
div.image_overlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .25em;
}
